<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Form</title>
</head>
<body>
    <h1>Welcome, {{ user.username }}!</h1>
    <p>This is your start page after logging in.</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit">Submit</button>
    </form>

    {% comment %} <a href="{% url 'logout' %}">Logout</a> <!-- Link do wylogowania --> {% endcomment %}
</body>
</html>
